DB_HOST=localhost
DB_PORT=5432
DB_NAME=megano
DB_USER=postgres
DB_PASS=root

DOCKER_DB_HOST=db
DOCKER_DB_PORT=5432
DOCKER_DB_NAME=postgres
DOCKER_DB_USER=postgres
DOCKER_DB_PASS=postgres


ACCOUNT_ID=
SECRET_KEY=